@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");

    body {
        background-color: #F8F8F8;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 13pt;
        line-height: 1.5em;
        color: #676d79;
        font-weight: 300; 
    }


    .item__list {
        display: flex;
        flex-direction: col;
        flex-wrap: wrap;
        align-content: center;
    }
    
    .item__list__element {
        width: 250px;
        margin: 10px;
        padding: 5px;
        background-color: rgb(255,255,231);
        list-style: none;
        align-content: center;
        text-align: center;
    }

    .item__list__element__image img {
        border-radius: 50px;
    }
    
    .item__element__quantity_value_total {
        display: block;
        width: 80%;
        height: 20px;
        margin: 0 10%;
        background: #3498db;
        border-radius: 5px;
        opacity: 0.5;
    }

    .item__element__quantity__value {
        display: block;
        height: 20px;
        
        border-radius: 5px;
    }

    .item__element__quantity__value__normal {
        background: #73AD21;
    }
    .item__element__quantity__value__medium {
        background: #ff8000;
    }
    .item__element__quantity__value__little {
        background: crimson;
    }
